USE [DB_KRS_KHS]
GO
/****** Object:  Table [dbo].[Tbl_Dosen]    Script Date: 11/12/2025 14:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Dosen](
	[Kode] [varchar](5) NOT NULL,
	[NIP] [varchar](30) NULL,
	[Nama] [varchar](100) NULL,
	[JenisKelamin] [char](1) NULL,
	[Email] [varchar](50) NULL,
	[NoTelepon] [varchar](15) NULL,
	[StatusAkun] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[Kode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_JadwalPerkuliahan]    Script Date: 11/12/2025 14:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_JadwalPerkuliahan](
	[IDJadwal] [int] IDENTITY(1,1) NOT NULL,
	[Kode] [varchar](10) NOT NULL,
	[Kelas] [varchar](10) NULL,
	[Ruang] [varchar](50) NULL,
	[Hari] [varchar](15) NOT NULL,
	[JamMulai] [time](7) NULL,
	[JamSelesai] [time](7) NULL,
 CONSTRAINT [PK__Tbl_Jadw__F3D2F6C10761842C] PRIMARY KEY CLUSTERED 
(
	[IDJadwal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_KHS]    Script Date: 11/12/2025 14:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_KHS](
	[NIM] [varchar](15) NOT NULL,
	[MataKuliah] [varchar](100) NOT NULL,
	[NilaiHuruf] [varchar](2) NOT NULL,
	[NilaiIndeks] [decimal](3, 2) NOT NULL,
	[sks] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIM] ASC,
	[MataKuliah] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_KRS]    Script Date: 11/12/2025 14:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_KRS](
	[ID_KRS] [int] IDENTITY(1,1) NOT NULL,
	[NIM] [varchar](15) NOT NULL,
	[IDJadwal] [int] NOT NULL,
	[Tahun_Akademik] [varchar](50) NULL,
	[Status_Approve] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_KRS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Mahasiswa]    Script Date: 11/12/2025 14:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Mahasiswa](
	[NIM] [varchar](15) NOT NULL,
	[Nama] [varchar](100) NULL,
	[JenisKelamin] [char](1) NULL,
	[NoTelepon] [varchar](15) NULL,
	[ProgramStudi] [varchar](50) NULL,
	[Fakultas] [varchar](25) NULL,
	[StatusAkun] [varchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[NIM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_MataKuliah]    Script Date: 11/12/2025 14:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_MataKuliah](
	[Kode] [varchar](10) NOT NULL,
	[MataKuliah] [varchar](100) NOT NULL,
	[SKS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Kode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Pengguna]    Script Date: 11/12/2025 14:14:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Pengguna](
	[ID_Pengguna] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[NamaLengkap] [varchar](100) NULL,
	[Role] [varchar](20) NOT NULL,
	[NIM] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Pengguna] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Tbl_Dosen] ([Kode], [NIP], [Nama], [JenisKelamin], [Email], [NoTelepon], [StatusAkun]) VALUES (N'001', N'196004041987011001', N'Prof. Dr. Ekohariadi, M.Pd.', N'L', N'ekohariadi@unesa.ac.id', N'085123456780', N'Aktif')
INSERT [dbo].[Tbl_Dosen] ([Kode], [NIP], [Nama], [JenisKelamin], [Email], [NoTelepon], [StatusAkun]) VALUES (N'002', N'196505191992021001', N'Drs. Bambang Sujatmiko, M.T.', N'L', N'bambangsujatmiko@unesa.ac.id', N'085123456781', N'Aktif')
INSERT [dbo].[Tbl_Dosen] ([Kode], [NIP], [Nama], [JenisKelamin], [Email], [NoTelepon], [StatusAkun]) VALUES (N'003', N'198410272015042001', N'Dr. Yeni Anistyasari, S.Pd., M.Kom.', N'P', N'yenian@unesa.ac.id', N'085123456782', N'Aktif')
GO
SET IDENTITY_INSERT [dbo].[Tbl_JadwalPerkuliahan] ON 

INSERT [dbo].[Tbl_JadwalPerkuliahan] ([IDJadwal], [Kode], [Kelas], [Ruang], [Hari], [JamMulai], [JamSelesai]) VALUES (7, N'MK001', N'PTI A', N'A10.03.10 LAB MULTIMEDIA', N'Senin', CAST(N'07:00:00' AS Time), CAST(N'09:30:00' AS Time))
INSERT [dbo].[Tbl_JadwalPerkuliahan] ([IDJadwal], [Kode], [Kelas], [Ruang], [Hari], [JamMulai], [JamSelesai]) VALUES (8, N'MK001', N'PTI B', N'A10.03.10 LAB MULTIMEDIA', N'Selasa', CAST(N'07:00:00' AS Time), CAST(N'09:30:00' AS Time))
INSERT [dbo].[Tbl_JadwalPerkuliahan] ([IDJadwal], [Kode], [Kelas], [Ruang], [Hari], [JamMulai], [JamSelesai]) VALUES (9, N'MK001', N'PTI C', N'A10.03.10 LAB MULTIMEDIA', N'Rabu', CAST(N'07:00:00' AS Time), CAST(N'09:30:00' AS Time))
SET IDENTITY_INSERT [dbo].[Tbl_JadwalPerkuliahan] OFF
GO
INSERT [dbo].[Tbl_KHS] ([NIM], [MataKuliah], [NilaiHuruf], [NilaiIndeks], [sks]) VALUES (N'24050974063', N'Basis Data', N'A', CAST(4.00 AS Decimal(3, 2)), 2)
INSERT [dbo].[Tbl_KHS] ([NIM], [MataKuliah], [NilaiHuruf], [NilaiIndeks], [sks]) VALUES (N'24050974063', N'Pemrograman Mobile', N'A', CAST(4.00 AS Decimal(3, 2)), 3)
GO
SET IDENTITY_INSERT [dbo].[Tbl_KRS] ON 

INSERT [dbo].[Tbl_KRS] ([ID_KRS], [NIM], [IDJadwal], [Tahun_Akademik], [Status_Approve]) VALUES (36, N'24050974063', 7, NULL, N'Rejected')
INSERT [dbo].[Tbl_KRS] ([ID_KRS], [NIM], [IDJadwal], [Tahun_Akademik], [Status_Approve]) VALUES (37, N'24050974063', 10, NULL, N'Rejected')
INSERT [dbo].[Tbl_KRS] ([ID_KRS], [NIM], [IDJadwal], [Tahun_Akademik], [Status_Approve]) VALUES (38, N'24050974063', 19, NULL, N'Rejected')
SET IDENTITY_INSERT [dbo].[Tbl_KRS] OFF
GO
INSERT [dbo].[Tbl_Mahasiswa] ([NIM], [Nama], [JenisKelamin], [NoTelepon], [ProgramStudi], [Fakultas], [StatusAkun]) VALUES (N'24050974062', N'Jonatan Christie', N'L', N'088123456789', N'Pendidikan Teknologi Informasi', N'Teknik', N'Aktif')
INSERT [dbo].[Tbl_Mahasiswa] ([NIM], [Nama], [JenisKelamin], [NoTelepon], [ProgramStudi], [Fakultas], [StatusAkun]) VALUES (N'24050974063', N'Aini', N'P', N'0882876543', N'Pendidikan Teknologi Informasi', N'Teknik', N'Aktif')
INSERT [dbo].[Tbl_Mahasiswa] ([NIM], [Nama], [JenisKelamin], [NoTelepon], [ProgramStudi], [Fakultas], [StatusAkun]) VALUES (N'24050974064', N'Anthony Sinisuka Ginting', N'L', N'088123456780', N'Pendidikan Teknologi Informasi', N'Teknik', N'Aktif')
GO
INSERT [dbo].[Tbl_MataKuliah] ([Kode], [MataKuliah], [SKS]) VALUES (N'M005', N'Pemrograman Visual', 3)
INSERT [dbo].[Tbl_MataKuliah] ([Kode], [MataKuliah], [SKS]) VALUES (N'MK001', N'Basis Data', 3)
INSERT [dbo].[Tbl_MataKuliah] ([Kode], [MataKuliah], [SKS]) VALUES (N'MK002', N'Struktur Data', 2)
GO
SET IDENTITY_INSERT [dbo].[Tbl_Pengguna] ON 

INSERT [dbo].[Tbl_Pengguna] ([ID_Pengguna], [Username], [PasswordHash], [NamaLengkap], [Role], [NIM]) VALUES (1, N'admin', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', N'Administrator Utama', N'Admin', NULL)
INSERT [dbo].[Tbl_Pengguna] ([ID_Pengguna], [Username], [PasswordHash], [NamaLengkap], [Role], [NIM]) VALUES (4, N'Aini Intan Saylendra', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Aini Intan Saylendra', N'Mahasiswa', N'24050974063')
INSERT [dbo].[Tbl_Pengguna] ([ID_Pengguna], [Username], [PasswordHash], [NamaLengkap], [Role], [NIM]) VALUES (5, N'Eka Sabrina', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'Eka Sabrina', N'Mahasiswa', N'24050974083')
SET IDENTITY_INSERT [dbo].[Tbl_Pengguna] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tbl_Peng__536C85E41BC2FAA1]    Script Date: 11/12/2025 14:14:03 ******/
ALTER TABLE [dbo].[Tbl_Pengguna] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_JadwalPerkuliahan]  WITH CHECK ADD  CONSTRAINT [FK_Jadwal_MataKuliah] FOREIGN KEY([Kode])
REFERENCES [dbo].[Tbl_MataKuliah] ([Kode])
GO
ALTER TABLE [dbo].[Tbl_JadwalPerkuliahan] CHECK CONSTRAINT [FK_Jadwal_MataKuliah]
GO
ALTER TABLE [dbo].[Tbl_KRS]  WITH CHECK ADD  CONSTRAINT [FK_KRS_Jadwal] FOREIGN KEY([IDJadwal])
REFERENCES [dbo].[Tbl_JadwalPerkuliahan] ([IDJadwal])
GO
ALTER TABLE [dbo].[Tbl_KRS] CHECK CONSTRAINT [FK_KRS_Jadwal]
GO
ALTER TABLE [dbo].[Tbl_KRS]  WITH CHECK ADD  CONSTRAINT [FK_KRS_Mahasiswa] FOREIGN KEY([NIM])
REFERENCES [dbo].[Tbl_Mahasiswa] ([NIM])
GO
ALTER TABLE [dbo].[Tbl_KRS] CHECK CONSTRAINT [FK_KRS_Mahasiswa]
GO
ALTER TABLE [dbo].[Tbl_Dosen]  WITH CHECK ADD  CONSTRAINT [CHK_JenisKelamin] CHECK  (([JenisKelamin]='P' OR [JenisKelamin]='L'))
GO
ALTER TABLE [dbo].[Tbl_Dosen] CHECK CONSTRAINT [CHK_JenisKelamin]
GO
ALTER TABLE [dbo].[Tbl_Dosen]  WITH CHECK ADD  CONSTRAINT [CHK_Kode_Numeric] CHECK  ((NOT [Kode] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Tbl_Dosen] CHECK CONSTRAINT [CHK_Kode_Numeric]
GO
ALTER TABLE [dbo].[Tbl_Dosen]  WITH CHECK ADD  CONSTRAINT [CHK_NIP_Numeric] CHECK  ((NOT [NIP] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Tbl_Dosen] CHECK CONSTRAINT [CHK_NIP_Numeric]
GO
ALTER TABLE [dbo].[Tbl_Dosen]  WITH CHECK ADD  CONSTRAINT [CHK_NoTelepon_Numeric] CHECK  ((NOT [NoTelepon] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Tbl_Dosen] CHECK CONSTRAINT [CHK_NoTelepon_Numeric]
GO
ALTER TABLE [dbo].[Tbl_Dosen]  WITH CHECK ADD  CONSTRAINT [CHK_StatusAkun] CHECK  (([StatusAkun]='Tidak Aktif' OR [StatusAkun]='Aktif'))
GO
ALTER TABLE [dbo].[Tbl_Dosen] CHECK CONSTRAINT [CHK_StatusAkun]
GO
ALTER TABLE [dbo].[Tbl_JadwalPerkuliahan]  WITH CHECK ADD  CONSTRAINT [CHK_Hari_Jadwal] CHECK  (([Hari]='Minggu' OR [Hari]='Sabtu' OR [Hari]='Jumat' OR [Hari]='Kamis' OR [Hari]='Rabu' OR [Hari]='Selasa' OR [Hari]='Senin'))
GO
ALTER TABLE [dbo].[Tbl_JadwalPerkuliahan] CHECK CONSTRAINT [CHK_Hari_Jadwal]
GO
ALTER TABLE [dbo].[Tbl_JadwalPerkuliahan]  WITH CHECK ADD  CONSTRAINT [CHK_Jam_Order] CHECK  (([JamMulai]<[JamSelesai]))
GO
ALTER TABLE [dbo].[Tbl_JadwalPerkuliahan] CHECK CONSTRAINT [CHK_Jam_Order]
GO
ALTER TABLE [dbo].[Tbl_Mahasiswa]  WITH CHECK ADD  CONSTRAINT [CHK_JenisKelamin_TM] CHECK  (([JenisKelamin]='P' OR [JenisKelamin]='L'))
GO
ALTER TABLE [dbo].[Tbl_Mahasiswa] CHECK CONSTRAINT [CHK_JenisKelamin_TM]
GO
ALTER TABLE [dbo].[Tbl_Mahasiswa]  WITH CHECK ADD  CONSTRAINT [CHK_NIM_Numeric_TM] CHECK  ((NOT [NIM] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Tbl_Mahasiswa] CHECK CONSTRAINT [CHK_NIM_Numeric_TM]
GO
ALTER TABLE [dbo].[Tbl_Mahasiswa]  WITH CHECK ADD  CONSTRAINT [CHK_NoTelepon_Numeric_TM] CHECK  ((NOT [NoTelepon] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Tbl_Mahasiswa] CHECK CONSTRAINT [CHK_NoTelepon_Numeric_TM]
GO
ALTER TABLE [dbo].[Tbl_Mahasiswa]  WITH CHECK ADD  CONSTRAINT [CHK_StatusAkun_TM] CHECK  (([StatusAkun]='Tidak Aktif' OR [StatusAkun]='Aktif'))
GO
ALTER TABLE [dbo].[Tbl_Mahasiswa] CHECK CONSTRAINT [CHK_StatusAkun_TM]
GO
ALTER TABLE [dbo].[Tbl_MataKuliah]  WITH CHECK ADD  CONSTRAINT [CHK_SKS_Range_MK] CHECK  (([SKS]>=(1) AND [SKS]<=(6)))
GO
ALTER TABLE [dbo].[Tbl_MataKuliah] CHECK CONSTRAINT [CHK_SKS_Range_MK]
GO
